<div class="container">
  <h1>WELCOME.</h1>
  <p>Sign In</p>
  <form action="/user" method="GET"> 
    <input placeholder="something@some.com" type="email" name="email"><br>
    <input placeholder="something" type="password" name="password"><br><br>
    <input type="submit">
  </form>
</div>
